    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://php4net.com/wp-content/uploads/2018/02/furniture-images.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <section class="card-top jodhpuri-border-st">
                    <span class="uk-label jodhpuri-primary-bg">45% off</span>
                    <div class="details">
                        <h5 class="nomargin jodhpuri-secondary-heading"> Florian Tv Unit (Honey Finish)</h5>
                    </div>
                </section>
                <section class="card-bottom">
                     <div class="uk-align-left" id="price-container">
                         <div id="retail-price">
                             <p>Retail Price</p>
                             <p class="jodhpuri-primary">Rs. 5349</p>
                         </div>
                         <div id="offer-price">
                             <p>Offer Price</p>
                             <p class="jodhpuri-primary">Rs. 3349</p>
                         </div>
                     </div>
                     <div class="uk-align-right">
                         <div id="emi-price">
                             <p>EMI from</p>
                             <p class="jodhpuri-primary">Rs. 300</p>
                         </div>
                     </div>
                </section>
            </div>
        </div>
    </div>
     <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://php4net.com/wp-content/uploads/2018/02/furniture-images.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <section class="card-top jodhpuri-border-st">
                    <span class="uk-label jodhpuri-primary-bg">45% off</span>
                    <div class="details">
                        <h5 class="nomargin jodhpuri-secondary-heading"> Florian Tv Unit (Honey Finish)</h5>
                    </div>
                </section>
                <section class="card-bottom">
                     <div class="uk-align-left" id="price-container">
                         <div id="retail-price">
                             <p>Retail Price</p>
                             <p class="jodhpuri-primary">Rs. 5349</p>
                         </div>
                         <div id="offer-price">
                             <p>Offer Price</p>
                             <p class="jodhpuri-primary">Rs. 3349</p>
                         </div>
                     </div>
                     <div class="uk-align-right">
                         <div id="emi-price">
                             <p>EMI from</p>
                             <p class="jodhpuri-primary">Rs. 300</p>
                         </div>
                     </div>
                </section>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://php4net.com/wp-content/uploads/2018/02/furniture-images.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <section class="card-top jodhpuri-border-st">
                    <span class="uk-label jodhpuri-primary-bg">45% off</span>
                    <div class="details">
                        <h5 class="nomargin jodhpuri-secondary-heading"> Florian Tv Unit (Honey Finish)</h5>
                    </div>
                </section>
                <section class="card-bottom">
                     <div class="uk-align-left" id="price-container">
                         <div id="retail-price">
                             <p>Retail Price</p>
                             <p class="jodhpuri-primary">Rs. 5349</p>
                         </div>
                         <div id="offer-price">
                             <p>Offer Price</p>
                             <p class="jodhpuri-primary">Rs. 3349</p>
                         </div>
                     </div>
                     <div class="uk-align-right">
                         <div id="emi-price">
                             <p>EMI from</p>
                             <p class="jodhpuri-primary">Rs. 300</p>
                         </div>
                     </div>
                </section>
            </div>
        </div>
    </div>