{{!-- HOME COMPONENT --}}
{{#is_desktop}}
 <div class="main-content uk-container-expand">
      {{> home/slideshow}}
      {{> home/intro}}
      {{> home/categories}}
      {{> home/featured }}
      {{> home/bestSellers}}
 </div>
{{/is_desktop}}

{{#is_mobile}}
  <div class="main-content uk-container-expand">
      {{> home/slideshow}}
      {{> home/categories}}
      {{> home/bestSellers}}
 </div>
{{/is_mobile}}
{{> home/newArrivals}}
{{> _common/footer/footer}}

<script src="bundle/home.bundle.js" ></script>