<div class="uk-text-center uk-border-bottom" id="about-section">
    <h4 class="uk-text-center uk-text-large uk-text-bold text-primary uk-text-capitalize with-stroke">Jodhpur's Only Custom Furniture Online Store</h4>
    <p class="uk-padding" id="about-text">Browse our wide selection of Sofas, Beds, Dining Table Sets, Study table and more. Give your home an elegant touch and feel at affordable prices and avail all the exciting deals and discount offers on our online shopping store. You can buy furniture products carved out of solid wood material or choose from various designs and features to match your requirements.</p>
    <ul>
        <li>
            <span uk-icon="check"></span>
            <p>Assured Quality</p>
        </li>
        <li>
            <span uk-icon="clock"></span>
            <p>Timely delivery</p>
        </li>
        <li>
            <span uk-icon="cart"></span>
            <p>Free delivery</p>
        </li>
        <li>
            <span uk-icon="refresh"></span>
            <p>Easy returns</p>
        </li>
    </ul>
</div>