<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 7:3; min-height: 200; max-height: 500">

    <ul class="uk-slideshow-items">
        <li>
            <img src="https://ul-a.akamaihd.net/opt/ul-a.akamaihd.net/media/slideshow/Homepage-Slideshow-3_5th-Jan_2018.jpg?1516178357" alt="" uk-cover>
        </li>
        <li>
            <img src="https://ul-a.akamaihd.net/opt/ul-a.akamaihd.net/media/slideshow/Homepage-Slideshow-4_5th-Jan_2018.jpg?1516178397" alt="" uk-cover>
        </li>
        <li>
            <img src="https://ul-a.akamaihd.net/opt/ul-a.akamaihd.net/media/slideshow/Homepage-Slideshow-2_5th-Jan_2018.jpg?1516178313" alt="" uk-cover>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>