<div
  id="footer"
  class=" uk-dark uk-background-muted uk-margin-remove"
>
<div class="footer-main uk-child-width-expand@s uk-padding" uk-grid>
  <div>
    <h4 class="uk-heading-small uk-heading-bullet">
      CONTACT INFO
    </h4>
    <div class="uk-text-left">
      We at Furniture store would love to hear your opinion about our venture.
    </div>
    <ul class="uk-list">
      <li>
        <span uk-icon="location" class="uk-margin-right"></span>
        <span class="uk-text-center">
          Jodhpuri Furniture, #35, Intermediate ring road, Koramangala, Near Sony world signal, Bangalore, India
        </span>
      </li>
      <li>
        <span uk-icon="receiver" class="uk-margin-right"></span>
        <span class="uk-text-right">
          +91 99299 46846
        </span>
      </li>
      <li>
        <span uk-icon="mail" class="uk-margin-right"></span>
        <span class="uk-text-right">
          info@jodhpurifurniture.com
        </span>
      </li>
    </ul>
  </div>
  <div>
    <h4 class="uk-heading-small uk-heading-bullet">
      OUR COMPANY
    </h4>
    <ul class="uk-list">
      <li><a class="uk-link-text" href="#">About us</a></li>
      <li><a class="uk-link-text" href="#">Furniture</a></li>
      <li><a class="uk-link-text" href="#">Careers</a></li>
      <li><a class="uk-link-text" href="#">Contact us</a></li>
  </div>
  <div>
    <h4 class="uk-heading-small uk-heading-bullet">
      CUSTOMER SERVICES
    </h4>
     <li><a class="uk-link-text" href="#">Sell Furniture</a></li>
      <li><a class="uk-link-text" href="#">Terms of use</a></li>
      <li><a class="uk-link-text" href="#">Security & privacy</a></li>
      <li><a class="uk-link-text" href="#">Returns & Refunds</a></li>
      <li><a class="uk-link-text" href="#">Payment Policy</a></li>
      <li><a class="uk-link-text" href="#">Track Order</a></li>
      <li><a class="uk-link-text" href="#">Customer Stories</a></li>
      <li><a class="uk-link-text" href="#">Complaints</a></li>
  </div>
  <div>
    <h4 class="uk-heading-small uk-heading-bullet">
      TOP CATEGORIES
    </h4>
    <li><a class="uk-link-text" href="#">4 eater dining sets</a></li>
      <li><a class="uk-link-text" href="#">6 seater dining sets</a></li>
      <li><a class="uk-link-text" href="#">Cabinets and Sideboards</a></li>
      <li><a class="uk-link-text" href="#">Wardrobes</a></li>
  </div>
</div>
<div class="footer-middle"><h3 class="uk-heading-small uk-text-center">We deliver in your city</h3></div>
<div class="uk-child-width-expand@s" uk-grid><span class="uk-text-center">@2019 - All Rights Reserved</span>
<span class="uk-text-center">Designed and Developed by - Sangeet</span></div>
</div>