<div id="head-notification" class="info" style="display: block;">
    <div class="row">
        <div class="center" style="text-align: center; color: #000;">Want to meet our furniture in real life? Drop in to our experience centres at Domlur or Whitefield.
            <a href="https://www.urbanladder.com/experience-centres?src=headbanner">
                <strong>Know More</strong>
            </a>
            <div class="right close-head-alert">
                <span class="uk-position-center-right" uk-icon="icon: close"></span>
            </div>
        </div>
    </div>
</div>