<div id="login-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
            <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                <div class="uk-width-1-2">
                    <div class="uk-child-width-1-1 uk-text-center login-image-container" uk-grid>
                        <img src="https://ul-a.akamaihd.net/opt/ul-a.akamaihd.net/media/slideshow/Homepage-Slideshow-3_5th-Jan_2018.jpg?1516178357" height="350px" alt="login-image" />
                    </div>
                </div>
                <div class="uk-width-1-2" id="loginFormWrapper">
                    <div class="uk-child-width-1-1 uk-text-center" uk-grid>
                        <div class="heading">
                            <h2>Sign up with us</h2>
                            <p>Login to explore great designs</p>
                        </div>
                        <div class="login-form">
                            <form>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-2">
                                        <legend>Login with email-id</legend>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-2">
                                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                                        <input class="uk-input" type="text" placeholder="username">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-2">
                                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                        <input class="uk-input" type="text" placeholder="password">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-2">
                                        <button class="uk-button uk-button-default uk-width-1-1">Login</button>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-2">
                                        <p>Don't have an account ? <a>Sign up</a></p>
                                    </div>
                                </div>
                            </form>
                            <div class="uk-width-1-1">
                                <h4>Social login</h4>
                                <div class="social-buttons">
                                    <div class="uk-inline uk-width-1-4">
                                        <button class="uk-button uk-button-default ">Login</button>
                                    </div>
                                    <div class="uk-inline uk-width-1-4">
                                        <button class="uk-button uk-button-default ">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>