<div uk-grid>
    <div class="delivery-estimate uk-padding uk-width-1-2">
        <p>Check delivery estimate</p>
        <form>
            <div class="uk-margin uk-flex">
                <input class="uk-input" type="text" placeholder="Enter pincode">
                <button class="uk-button uk-button-primary">Check</button>
            </div>
        </form>

    </div>
    <div class="order-on-phone uk-padding"></div>
</div>