<div class="product-wrapper uk-padding">
    <div class="top-section">
        <ul class="uk-breadcrumb">
            {{#each breadcrumbs}}
             <li><a href={{this.url}}>{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="product-overview-section">
        <h4>Khadi Metal Table Lamp by The Light House</h4>
    </div>
</div>
