<div class="product-wrapper uk-padding">
    <div class="top-section">
        <ul class="uk-breadcrumb">
            {{#each breadcrumbs}}
             <li><a href={{this.url}}>{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="product-overview-section">
        <h4 class="jodhpuri-secondary-heading">Khadi Metal Table Lamp by The Light House</h4>
    </div>
    <div class="product-details-section uk-flex uk-flex-wrap uk-flex-around@l uk-flex-between@m uk-flex-center@s">
        {{> partials/product/productSlider }}
        <div class="details">
            <div class="top-section uk-border-bottom uk-padding-small">
                <p>Retail Price: <span>Rs. 8699</span></p>
                <p>Our Price: <span>Rs. 7499</span></p>
                <p class="jodhpuri-primary">Offer Price: <span>Rs. 5099</span></p>
            </div>
            <div class="middle-section uk-border-bottom uk-padding-small">
                <h5 class="uk-text-capitalize uk-text-center">You Save Rs 2,700</h5>
                <p>Rs 1,200 (Retail Discount) + Rs 1,500 (Limited Time Coupon) </p>
                <p>Fast delivery available</p>
            </div>
            <div class="middle-section uk-border-bottom uk-padding-small uk-flex uk-flex-wrap">
                <h5 class="uk-text-capitalize">color finish</h5>
                <ul class="uk-list"><li></li></ul>
            </div>
            <div class="price-section">
                <h4 class="uk-text-center jodhpuri-primary" style="margin:0; padding:0.5rem;">
                    Offer Price: Rs. 5099
                </h4>
            </div>
            <div class="buy-section uk-padding-small uk-flex uk-flex-wrap uk-flex-around@l uk-flex-around@m uk-flex-between@s">
               <button class="uk-button jodhpuri-primary-bg-light">Add to cart</button>
                <button class="uk-button jodhpuri-primary-bg">Buy now</button>
            </div>
        </div>
    </div>
   {{> partials/product/productDelivery }}
</div>
