<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Compiled and minified CSS -->

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.36/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.36/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.36/js/uikit-icons.min.js"></script>
  <!-- Compiled and minified jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>
      {{#if pageTitle}}
        {{pageTitle}} 
      {{/if}}
    </title>

    <link rel="stylesheet" type="text/css" media="screen" href="/bundle/bundle.css">

    {{!-- <!-- Google web font lato -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'> --}}

        <!-- custom font css -->
    <style>
      body {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
      }
    </style>
  </head>
  <body>
    {{#is_desktop}}
      <div class="head-content">
        {{> _common/notification/top_notification }}
        {{> _common/navbar/navbar }}
      </div>
      {{> _common/login/login}}
    {{/is_desktop}}
    {{#is_mobile}}
      <div class="head-content">
      {{> _common/navbar/navbar_mobile }}
      </div>
    {{/is_mobile}}
    {{{body}}}

    <script src="/bundle/main.bundle.js"></script>
  </body>
</html>
